---
nautobot:
    url: http://127.0.0.1:8080
    user: username
    password: password
    token: nautobot_token
    hldm: >
        query ($device_id: ID!) {
          device(id: $device_id) {
            config_context
            hostname: name
            serial
            primary_ip4 {
              id
              primary_ip4_for {
                id
                name
              }
            }
            tags {
              name
              slug
            }
            device_role {
              name
            }
            platform {
              name
              slug
              manufacturer {
                name
              }
              napalm_driver
            }
            site {
              name
              slug
              vlans {
                name
                vid
              }
              vlan_groups {
                id
              }
            }
            interfaces {
              name
              description
              enabled
              mac_address
              type
              mode
              ip_addresses {
                address
                role
                tags {
                  slug
                }
              }
              connected_circuit_termination {
                circuit {
                  cid
                  commit_rate
                  provider {
                    name
                  }
                }
              }
              tagged_vlans {
                name
              }
              untagged_vlan {
                name
                vid
              }
              cable {
                termination_a_type
                status {
                  name
                }
                color
              }
              tags {
                id
                slug
              }
              lag {
                name
                enabled
              }
              member_interfaces {
                name
              }
            }
          }
        }

    ipaddress_by_name_site_role_long: >
        query ($name:[String], $site:[String], $role:[String]) {
          devices(name: $name, site: $site, role: $role) {
            hostname: name
            site {
              slug
            }
            device_role {
              slug
            }
            primary_ip4 {
              address
            }
          }
        }

    ipaddress_by_name_site_role_summary: >
        query ($name:[String], $site:[String], $role:[String]) {
          devices(name: $name, site: $site, role: $role) {
            hostname: name
            primary_ip4 {
              address
            }
          }
        }
git:
    # please config your GIT here
    sot_data:
        username: your@email
        token: "your_git_token"
        repo: "https://github.com/your_repo/sot_data.git"
        local: "/path/to/your/sot_data"

templates:
    directory: "../sot_data/templates/"
    trim_blocks: True

authentication:
    apikey: myapikey

inventory:
    backup_configs: "../sot_data/config_backups"

# default logins to connect to the devices
# these accounts are not stored in nautobot
accounts:
    devices:
        # profile name
        default:
            username:  username
            # encrypted and base64 encodes password
            password: "your_encrypted_password"
